.homeBlog{
  padding: 5em 0px;
}

.homeBlogCategory {
  margin-top: 1em;
}
.homeBlogCategory h3{
  font-size: 1.3em;
  text-transform: capitalize;
  color: #409ec4;
  cursor: pointer;
  text-decoration: underline;
  transition: 0.3s ease-in-out;
}
.homeBlogCategory h3:hover{
  color: crimson;
}

.homeBlogCategory h3 small{
  margin-left: 0.4em;
}

.homeBlogs{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 1em;
}

.pagination{
  display: flex;
  align-content: center;
  justify-content: center;
  margin-top: 1em;
}

.pagination a{
  font-size: 1.5em;
  color: #409ec4;
}